/* FormC.css */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.form-container label input {
  width: calc(100% - 24px); 
  padding: 12px;
  border: 2px solid #3498db;
  border-radius: 5px;
  margin-top: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.form-container label input:focus {
  outline: none;
  border-color: #007bff;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}


.form-container button:hover {
  background-color: #0056b3;
}

.form-container label:not(:last-child) {
  margin-bottom: 20px;
}


.form-container button {
  margin-top: 20px;
}
